/*-------- Main Styling for full desktop screens greater than 800px --------*/

    /* items styled by element that are not tables. */
  h1 {
      font-weight: bold !important;
      font-size: 2.441em !important;
  }

  h2 {
    font-weight: bold !important;
    font-size: 1.953em !important;
  }

  h3 {
      font-weight: bold !important;
      font-size: 1.563em !important;
  }

  /* styling for the main body of the page */
  .light-body-styles {
      background-color: #DBE9F5;
      background-image: url('/src/images/background.png');
      background-repeat: repeat;
      font-family: "Helvetica", "Arial", sans-serif;
      height: 100vh;
      width: 100%;
  }
  .dark-body-styles {
    background-color: #122A40;
    background-image: url('/src/images/dark_background.png');
    background-repeat: repeat;
    font-family: "Helvetica", "Arial", sans-serif;
    height: 100vh;
    width: 100%;
}

  /*styling for the content inside the page body*/
  .content-styling {
      margin-left: auto;
      margin-right: auto;
      width: 65%;
      height: 100vh;
  }

  .input-label {
    font-weight: bold;
    margin-right: 0.5em;
  }

  .route-data {
    padding: 0.25em !important;
    margin: 0;
  }
