body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a.statement-link-light:hover {
  text-decoration: underline;
  font-weight: bold;
  border: 1px solid #1A3E61;
  color: #1A3E61;
}

a.statement-link-light:focus {
  text-decoration: underline;
  font-weight: bold;
  border: 1px solid #1A3E61;
  color: #1A3E61;
}

a.statement-link-light:visited {
  text-decoration: underline;
  color: #1A3E61;
}

.statement-link-light {
  text-decoration: underline;
  color: #1A3E61;
}

a.statement-link-dark:hover {
  text-decoration: underline;
  font-weight: bold;
  border: 1px solid #DBE9F5;
  color: #DBE9F5;
}

a.statement-link-dark:focus {
  text-decoration: underline;
  font-weight: bold;
  border: 1px solid #DBE9F5;
  color: #DBE9F5;
}

a.statement-link-dark:visited {
  text-decoration: underline;
  color: #DBE9F5;
}

.statement-link-dark {
  text-decoration: underline;
  color: #DBE9F5;
}